{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
     BMW i8 – samochód sportowy o napędzie hybrydowym. Produkowany przez niemiecką markę BMW od kwietnia 2014 roku w Lipsku.
    </p>
</article>
{% endblock %}
