{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
     Ferrari - włoska marka samochodów sportowych. Przedsiębiorstwo założone w 1947 roku przez Enzo Ferrari obecnie należy do koncernu Fiata. 
        W ramach tego koncernu, Ferrari znajduje się w grupie Ferrari Maserati, która jest niezależna konstrukcyjnie od pozostałych marek koncernu. 
        Siedziba przedsiębiorstwa znajduje się w Maranello we Włoszech.    
    </p>
</article>
{% endblock %}
