{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Fiat 126 </h1>
    <p>
     Fiat 126 (centoventisei) – samochód osobowy skonstruowany w zakładach FIAT, produkowany we Włoszech w latach 1972-1980, a w Polsce od 6 czerwca 1973 do 22 września 2000 roku (Polski Fiat 126p). Polska wersja licencyjna produkowana była przez Fabrykę Samochodów Małolitrażowych „Polmo” Bielsko-Biała w Bielsku-Białej oraz w Tychach. Jego poprzednikiem był Fiat 500, następcą Fiat Cinquecento.

Przez wiele lat był jednym z najczęściej spotykanych samochodów na polskich drogach, doczekał się też bardzo wielu nazw potocznych i zwyczajowych, z których najpopularniejsza – Maluch, stała się pod koniec produkcji tego modelu (1997) jego oficjalną nazwą.

Łącznie wyprodukowano 4 671 586 sztuk Fiatów 126, z czego we Włoszech powstało 1 352 912 sztuk. W Polsce wyprodukowano łącznie 3 318 674 sztuk Fiatów 126, z czego w Bielsku-Białej – 1 152 325, a w Tychach – 2 166 349. W Austrii 2069 sztuk włoskiego Fiata zostało wzbogaconych o m.in. mocniejszy silnik typu bokser przez firmę Steyr, oraz ogrzewanie postojowe.  
    </p>
</article>
{% endblock %}
