{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
        Ford Mustang – amerykański samochód
        osobowy typu pony car produkowany od 1964 roku, jako amerykańska odpowiedź na produkowane w Europie sportowe wozy GT. Pierwszy egzemplarz zaprezentowano 17 kwietnia 1964 roku w Nowym Jorku. Transmisja telewizyjna premiery została wyemitowana przez trzy amerykańskie stacje telewizyjne 19 kwietnia tego samego roku. Produkcję pojazdu rozpoczęto 9 marca od białego kabrioletu z czarnymi elementami wystroju, który zjechał z linii produkcyjnej w Dearborn w stanie Michigan.
    </p>
</article>
{% endblock %}
