{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
     Golf III – Niemiecki samochód osobowy.Produkcja Golfa III zakończyła się oficjalnie w 1997 roku. W okresie 6 lat wyprodukowano 4 805 900 sztuk tego modelu.  
    </p>
</article>
{% endblock %}
