{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <p>
            Hyundai Group – południowokoreański koncern założony przez Chung Ju-yung w 1947 jako przedsiębiorstwo budowlane; był jednym z największych konglomeratów (czeboli) Korei Południowej. Podobnie jak inne koreańskie firmy konglomerat stanął na skraju bankructwa w wyniku ogólnokrajowego kryzysu ekonomicznego. W ramach restrukturyzacji grupa rozdzieliła się ostatecznie na wiele odrębnych jednostek 1 kwietnia 2003.
        </p>
        </article>
{% endblock %}