{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
        Mazda –  japoński producent samochodów osobowych mający swą siedzibę w mieście Hiroshima. 
            Koncern został założony w 1920 roku przez Jujiro Matsuda. 
    </p>
</article>
{% endblock %}
