{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <p>
            FSO Polonez – samochód osobowy produkowany przez Fabrykę Samochodów Osobowych w Warszawie od 3 maja 1978 roku do 22 kwietnia 2002 roku[5][6]. Powstał jako następca Polskiego Fiata 125p, który był jednak produkowany równolegle aż do 1991 roku. Przez cały okres produkcji samochód przeszedł kilka większych modernizacji, wprowadzano także kolejne odmiany.

Samochód odziedziczył po poprzedniku większość rozwiązań technicznych, w tym: układ przeniesienia napędu, zmodyfikowane silniki, układ hamulcowy oraz zawieszenie. Nowością było 5-drzwiowe nadwozie typu liftback. W 1988 roku wprowadzono wersję użytkową Poloneza nazwaną Truck. W 1991 roku przeprowadzono gruntowną modernizację, wprowadzając wersję Caro z nowym nadwoziem. Od 1996 roku dostępna była wersja sedan - Atu, rok później przeprowadzono ostatnią poważniejsza modyfikację Poloneza wprowadzając modele Caro i Atu Plus. Od 1999 roku dostępna była także wersja Kombi. Produkcję zawieszono 22 kwietnia 2002 roku, łącznie z zestawami montażowymi wyprodukowano 1 061 807 egzemplarzy modelu w różnych wersjach (bez dostawczych Trucków i vanów Cargo)
        </p>
        </article>
{% endblock %}