{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
    Shelby Mustang GT500 – samochód na bazie Forda Mustanga. 
    Zaprojektowany w latach 60 XX wieku w stylu muscle car. Była to seria samochodów, które były modyfikowane przez Carrolla Shelby i sprzedawane jako seria. Program ten był sponsorowany przez fabrykę, która z czasem przejęła produkcję zmodyfikowanych pojazdów. Obecnie za kontynuację idei, która stała za Shelby GT500, uznaje się modele Mustang Cobra.
    Od standardowego modelu, modyfikacja Carolla Shelby'ego różniła się m.in. bocznymi wlotami powietrza, tylnymi światłami, wnętrzem oraz silnikiem.    
    </p>
</article>
{% endblock %}
