{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>GAZ Wołga</h1>
    <p>
    Wołga - seria rosyjskich (wcześniej radzieckich) samochodów osobowych produkowanych przez zakłady GAZ.
W 1946 GAZ rozpoczęły produkcję samochodu osobowego M-20 Pobieda. W 1952 rozpoczęto pracę nad modelem GAZ M-21 pod nazwą Wołga. 
10 października 1956 z taśmy produkcyjnej zjechały pierwsze Wołgi. Do 1957 były one produkowane jeszcze z silnikiem od Pobiedy. 
Latem 1957 gotowy był już nowy silnik. W końcu 1958 r. dokonano pierwszej modernizacji, zaś pierwszy poważny lifting Wołga przeszła dopiero w 1962 roku.
Zmieniono wówczas przednią atrapę i wiele detali samochodu, w myśl zasady mniej chromu, więcej pięknej linii.  

    </p>
</article>
{% endblock %}
